:root {
  font-size: 15px;
  
  --theme-primary: #2E4249;
  --theme-red: #e99185;
}

.login-page {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-primary);
}

.login-component {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 16px;
  background-color: #ffffff;
}